.title1 {
  font-size: 48px;
  line-height: 54px;
}
.title2 {
  font-size: 28px;
  line-height: 32px;
}
.title3 {
  font-size: 24px;
  line-height: 28px;
}
.headline {
  font-size: 20px;
  line-height: 24px;
}
.subheadline1 {
  font-size: 18px;
  line-height: 24px;
}
.body1 {
  font-size: 16px;
  line-height: 20px;
}
.caption {
  font-size: 14px;
  line-height: 20px;
}

:root {
  /*Primary colors*/
  --product-darker: #21717A;
  --product-dark: #129AA6;
  --product-normal: #31AAB7;
  --product-light: #6DCDD8;

  /*Neutral colors*/
  --high-contrast: #324552;
  --medium-contrast: #566976;
  --low-contrast: #7D92A1;
  --component-outline: #DAE2E8;
  --primary-background: #F8FAFB;
  --component-background: #F9F9F9;
  --white: #FFFFFF;

  /*Secondary colors*/
  --red-normal: #DC3545;
  --yellow-normal: #FFC107;
  --green-normal: #28A745;
  --green-light: #DFF0D8;
  --yellow-light: #FCF8E3;
  --red-light: #F8E0E0;
}

.boxNoBorder {
  width: 100%;
  padding-top: 1%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
  margin: 5% 0%;
  border: none;
}

.breadcrumb-history-page {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: #6c757d;
  --bs-breadcrumb-divider: '>';
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}

.table {
  --bs-table-border-color: var(--component-outline);

  text-align: center;
}

.table-light-history-page {
  --bs-table-color: var(--low-contrast);
  --bs-table-bg: var(--component-background);
  --bs-table-border-color: #dfe0e1;
  --bs-table-striped-bg: #ecedee;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfe0e1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5e6e7;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);

  text-align: left;
}

.pagination {
  --bs-pagination-border-width: none;
}

.page-item {
  --bs-pagination-color: var(--medium-contrast);
  --bs-pagination-bg: var(--primary-background);

  --bs-pagination-hover-color: var(--white);
  --bs-pagination-hover-bg: var(--product-dark);

  --bs-pagination-focus-color: var(--white);
  --bs-pagination-focus-bg: var(--product-light);
}

.disabled {
  --bs-pagination-disabled-color: var(--component-outline);
  --bs-pagination-disabled-bg: var(--white);
}

.active {
  --bs-pagination-active-color: var(--white);
  --bs-pagination-active-bg: var(--product-normal);
}
