.title1 {
  font-size: 48px;
  line-height: 54px;
}
.title2 {
  font-size: 28px;
  line-height: 32px;
}
.title3 {
  font-size: 24px;
  line-height: 28px;
}
.headline {
  font-size: 20px;
  line-height: 24px;
}
.subheadline1 {
  font-size: 18px;
  line-height: 24px;
}
.body1 {
  font-size: 16px;
  line-height: 20px;
}
.caption {
  font-size: 14px;
  line-height: 20px;
}

:root {
  /*Primary colors*/
  --product-darker: #21717A;
  --product-dark: #129AA6;
  --product-normal: #31AAB7;
  --product-light: #6DCDD8;

  /*Neutral colors*/
  --high-contrast: #324552;
  --medium-contrast: #566976;
  --low-contrast: #7D92A1;
  --component-outline: #DAE2E8;
  --primary-background: #F8FAFB;
  --component-background: #F9F9F9;
  --white: #FFFFFF;

  /*Secondary colors*/
  --red-normal: #DC3545;
  --yellow-normal: #FFC107;
  --green-normal: #28A745;
  --green-light: #DFF0D8;
  --yellow-light: #FCF8E3;
  --red-light: #F8E0E0;
}

a:link {
  color: #0000FF;
}
a:hover {
  color: #FF00FF;
}
a:active {
  color: #00FFFF;
}
a:visited {
  color: #00FF00;
}

.btn-close {
  position: absolute;
  top: 2%;
  right: 2%
}

.boxNoBorder {
  width: 84%;
  margin-top: 6%;
  margin-right: 8%;
  margin-bottom: 0%;
  margin-left: 8%;
  border: none;
}

.boxSolidBorder {
  width: 84%;
  padding-top: 4%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
  margin-top: 0%;
  margin-right: 8%;
  margin-bottom: 6%;
  margin-left: 8%;
  border: 1px solid var(--component-outline);
  border-radius: 5px;
}

.breadcrumb-suggestion-page {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: #6c757d;
  --bs-breadcrumb-divider: '>';
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}

.form-control {
  border: 1px solid black;
}

.btn-outline-danger {
  --bs-btn-color: var(--red-normal);
  --bs-btn-border-color: var(--product-darker);

  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--red-normal);
  --bs-btn-hover-border-color: var(--product-darker);

  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--red-light);
  --bs-btn-active-border-color: var(--product-darker);
}

.btn-outline-primary {
  --bs-btn-color: var(--product-darker);
  --bs-btn-border-color: black;

  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--product-dark);
  --bs-btn-hover-border-color: black;

  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--product-light);
  --bs-btn-active-border-color: black;
}
