.title1 {
    font-size: 48px;
    line-height: 54px;
}
.title2 {
    font-size: 28px;
    line-height: 32px;
}
.title3 {
    font-size: 24px;
    line-height: 28px;
}
.headline {
    font-size: 20px;
    line-height: 24px;
}
.subheadline1 {
    font-size: 18px;
    line-height: 24px;
}
.body1 {
    font-size: 16px;
    line-height: 20px;
}
.caption {
    font-size: 14px;
    line-height: 20px;
}

:root {
    /*Primary colors*/
    --product-darker: #21717A;
    --product-dark: #129AA6;
    --product-normal: #31AAB7;
    --product-light: #6DCDD8;

    /*Neutral colors*/
    --high-contrast: #324552;
    --medium-contrast: #566976;
    --low-contrast: #7D92A1;
    --component-outline: #DAE2E8;
    --primary-background: #F8FAFB;
    --component-background: #F9F9F9;
    --white: #FFFFFF;

    /*Secondary colors*/
    --red-normal: #DC3545;
    --yellow-normal: #FFC107;
    --green-normal: #28A745;
    --green-light: #DFF0D8;
    --yellow-light: #FCF8E3;
    --red-light: #F8E0E0;
}

body {
    background-color: var(--primary-background);
}

.boxNoBorder {
    width: 84%;
    margin: 6% 8%;
    border: none;
}

.breadcrumb-history {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: #6c757d;
    --bs-breadcrumb-divider: '>';
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}

.list-group-history {
    --bs-list-group-color: var(--high-contrast);
    --bs-list-group-bg: none;

    --bs-list-group-border-width: none;
    --bs-list-group-border-radius: none;

    --bs-list-group-action-color: var(--high-contrast);
    
    --bs-list-group-action-hover-color: var(--white);
    --bs-list-group-action-hover-bg: var(--medium-contrast);

    --bs-list-group-action-active-color: var(--white);
    --bs-list-group-action-active-bg: var(--low-contrast);

    --bs-list-group-active-color: var(--high-contrast);
    --bs-list-group-active-bg: var(--component-outline);
    /*--bs-list-group-active-border-color: var(--component-outline);*/

    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
}

.list-group-item-action {
    color: var(--bs-list-group-action-color);
}
