/* .custom-accordion {
  display: flex;
  flex-direction: column;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

.display {
  margin-left: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .custom-accordion {
    flex-direction: row;
    align-items: flex-start;
  }

  .custom-accordion .accordion {
    max-width: 240px;
    min-width: 240px;
    margin-right: 10px;
  }
}

 */

.custom-accordion {
  display: flex;
  flex-direction: column;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

.display {
  margin-left: 10px;
  width: 100%;
}
@media (max-width: 720px) {
  .custom-accordion {
    flex-direction: column;
  }

  .custom-accordion .accordion {
    max-width: none;
    min-width: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .custom-accordion {
    flex-direction: row;
    align-items: flex-start;
  }

  .custom-accordion .accordion {
    max-width: 240px;
    min-width: 240px;
    margin-right: 10px;
  }
}
